<!--
Names: Brandon Burgess
File Name: aboutUs.html
Date: 2/11/2023
Description: About Us page that will hold info about the company I made up
-->
<include href="views/header.html"></include>

<div class="row">
    <div class="col-6"></div>
    <h1>About Us!</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-3">
            <h2>About Our Company</h2>
            <p>
                Happy Puppies Inc. is a company founded on the premise that all puppies should be happy!
                Founded in 1967, we have grown from a grassroots campaign to a multi-billion dollar corporation.
                In business terms this may not make for a good business model, but here we are.
                <br>
                <br>
                Our goal has been to find puppies all over the globe who need love - and give it to them!
                We have a fleet of private jets who scour the planet,
                picking up puppies and delivering them to our headquarters located in Tacoma, Washington.
            </p>
        </div>
        <div class="col-4">
            <!--image-->
            <img src="images/girlwithPuppies.jpg" height="420" width="430">
        </div>
        <div class="col-3">
            <h2>Our Mission</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Consequatur mollitia placeat quas quasi saepe.
                Amet blanditiis dicta dolore eligendi ex, facilis neque nihil nisi odit possimus reiciendis,
                repellat similique temporibus?
            </p>
        </div>
    </div>
</div>

<include href="views/footer.html"></include>