<!--
Names: Brandon Burgess
File Name: aboutUs.html
Date: 2/11/2023
Description: About Us page that will hold info about the company I made up
-->
<include href="views/header.html"></include>

<h1>About Us!</h1>

<div class="container">
    <div class="row">
        <div class="col-3">
            <h2>About Our Company</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae commodi,
                eius esse ipsum labore, laboriosam maxime molestias omnis quisquam, reiciendis rerum temporibus.
                Culpa earum eius quos sapiente soluta vero.
            </p>
        </div>
        <div class="col-4">
            <!--image-->
            <img src="images/girlwithPuppies.jpg" height="420" width="430">
        </div>
        <div class="col-3">
            <h2>Our Mission</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Consequatur mollitia placeat quas quasi saepe.
                Amet blanditiis dicta dolore eligendi ex, facilis neque nihil nisi odit possimus reiciendis,
                repellat similique temporibus?
            </p>
        </div>
    </div>
</div>

<include href="views/footer.html"></include>