<!--
Names: Brandon Burgess & Jack Zeng
File Name: reservationData.html
Date: 2/11/2023
Description: adoption page where users will be able to look through animals to adopt and click on them
to see more info about the pet
-->


<include href="views/header.html"></include>



<body>
<div class = "container-fluid">
  <div class = "row">
    <div class = "col-1"></div>
    <div class = "col-1 ">
      <span>ID</span>
    </div>
    <div class = "col-2">
      <span>petType</span>
    </div>
    <div class = "col-2 ">
      <span>name</span>
    </div>
    <div class = "col-1">
      <span>age</span>
    </div>
    <div class = "col-1 ">
      <span>neutered</span>
    </div>
    <div class = "col-1 ">
      <span>breed</span>
    </div>
    <div class = "col-1">
      <span>adoptable</span>
    </div>
    <div class = "col-1 ">
      <span>price</span>
    </div>
    <hr>
    <repeat group="{{ @applicants }}" value="{{ @applicant }}">
      <div class = "col-1"></div>
      <div class = "col-1 ">
        <span>{{ @applicant['id'] }}</span>
      </div>
      <div class = "col-2">
        <span>{{ @applicant['petType'] }}</span>
      </div>
      <div class = "col-2 ">
        <span>{{ @applicant['name'] }}</span>
      </div>
      <div class = "col-1">
        <span>{{ @applicant['age'] }}</span>
      </div>
      <div class = "col-1 ">
        <span>{{ @applicant['neutered'] }}</span>
      </div>
      <div class = "col-1 ">
        <span>{{ @applicant['breed'] }}</span>
      </div>
      <div class = "col-1">
        <p>Yes</p>
      </div>
      <div class = "col-1">
        <span>${{ @applicant['price'] }}</span>
      </div>
      <hr>
    </repeat>
  </div>
</div>


</body>
<include href="views/footer.html"></include>