<!--
Names: Brandon Burgess & Jack Zeng
File Name: reservationData.html
Date: 2/11/2023
Description: adoption page where users will be able to look through animals to adopt and click on them
to see more info about the pet
-->


<include href="views/header.html"></include>



        <body>
        <div class = "container-fluid">
            <div class = "row">
                <div class = "col-1"></div>
                <div class = "col-1 ">
                    <span>ID</span>
                </div>
                <div class = "col-2">
                    <span>Name</span>
                </div>
                <div class = "col-2 ">
                    <span>Address</span>
                </div>
                <div class = "col-1">
                    <span>Phone</span>
                </div>
                <div class = "col-1 ">
                    <span>Email</span>
                </div>
                <div class = "col-1 ">
                    <span>leave us a message</span>
                </div>
                <div class = "col-1">
                    <span>donate price</span>
                </div>
                <hr>
                <repeat group="{{ @applicants }}" value="{{ @applicant }}">
                    <div class = "col-1"></div>
                    <div class = "col-1 ">
                        <span>{{ @applicant['id'] }}</span>
                    </div>
                    <div class = "col-2">
                        <span>{{ @applicant['firstName'] }}</span>
                        <span>{{ @applicant['lastName'] }}</span>
                    </div>
                    <div class = "col-2 ">
                        <span>{{ @applicant['address'] }}</span>
                    </div>
                    <div class = "col-1">
                        <span>{{ @applicant['phone'] }}</span>
                    </div>
                    <div class = "col-1 ">
                        <span>{{ @applicant['email'] }}</span>
                    </div>
                    <div class = "col-1 ">
                        <span>{{ @applicant['message'] }}</span>
                    </div>
                    <div class = "col-1">
                        <span>${{ @applicant['price'] }}</span>
                    </div>
                    <hr>
                </repeat>
            </div>
        </div>


        </body>
<include href="views/footer.html"></include>