<!--
Names: Brandon Burgess
File Name: Adopt.html
Date: 2/11/2023
Description: adoption page where users will be able to look through animals to adopt and click on them
to see more info about the pet
-->
<include href="views/header.html"></include>

<h1>Adopt an Animal!</h1>

<div class="container-fluid">
    <div class="row">
        <div class = "col-2"></div>
        <div class="col-4 order-2" id="form">
            <form action = "#" method = "post">
                <h2>Please Fill This Form To Adopt an Animal</h2>
                <!-- First name-->
                <div>
                    <label for="fname">First name: <span class="text-danger">*</span></label>
                    <br>
                    <input type="text" id="fname" name="fname">
                </div>
                <div>
                    <check if="{{isset(@errors['fname'])}}">
                                <span class="err">
                                    {{ @errors['fname']}}
                                </span>
                    </check>
                </div>
                <!--Last name-->
                <br> <!-- Line break-->
                <div>
                    <label for="lname"> Last Name: <span class="text-danger">*</span></label>
                    <br>
                    <input type="text" id="lname" name="lname">
                </div>
                <div>
                    <check if="{{isset(@errors['Lname'])}}">
                                <span class="err">
                                    {{ @errors['Lname']}}
                                </span>
                    </check>
                </div>
                <div> <!-- Email Input + Drop Box for @-->
                    <br> <!-- Line break-->
                    <label for="email">Email <span class="text-danger">*</span> </label>
                    <br>
                    <input type="email" id="email" name="email">
                </div>
                <div>
                    <check if="{{isset(@errors['email'])}}">
                                <span class="err">
                                    {{ @errors['email']}}
                                </span>
                    </check>
                </div>
                <br> <!-- Line break-->
                <div>
                    <label for="phone">Phone <span class="text-danger">*</span> </label>
                    <br>
                    <input  type="tel" id="phone" name="phone">
                </div>
                <div>
                    <check if="{{isset(@errors['phone'])}}">
                                <span class="err">
                                    {{ @errors['phone']}}
                                </span>
                    </check>
                </div>
                <br>
                <!--Address-->
                <div>
                    <label for="address">Address <span class="text-danger">*</span> </label>
                    <br>
                    <input  type="text" id="address" name="address">
                </div>
                <div>
                    <check if="{{isset(@errors['address'])}}">
                                <span class="err">
                                    {{ @errors['address']}}
                                </span>
                    </check>
                </div>
                <br>
                <!--Date-->
                <div>
                    <label for="start">Anticipated Adoption Date: <span class="text-danger">*</span> </label>
                    <br>
                    <input type="date" id="start" name="trip-start"
                           min="2022-10-06" max="2023-10-06">
                </div>
                <br>
                <!--leave a message-->
                <div>
                    <label for="message"><strong>Leave a Message</strong></label>
                    <br>
                    <textarea id="message" name="message" rows="4" cols="50"></textarea>
                </div>
                <div id = "buttonBottom">
                    <button type="submit" class="btn btn-secondary btn-block" id = "buttonEx">Submit Your Application</button>
                </div>
            </form>
        </div>
        <!--Introduction-->
        <div class = "col-4 order-1" id="adoptInfo">
            <h2>We're excited for You!</h2>
            <br>
            <p>Congratulations on your decision to adopt a new family member!</p>
            <p>All of our animals are looking forward to meeting you!</p>
            <p>This will be a process with several steps:</p>
            <p><strong>1. Provide Info</strong></p>
            <p>First, provide us with your information so that we know how to keep in contact with you.</p>
            <p>Without this information, we won't be able to let you know when you've been approved for adoption!</p>
            <p><strong>2. Browse and Select</strong></p>
            <p>Once you've given us your info, you'll be able to view our animals.</p>
            <p>You will only be shown the species of pet that you selected.</p>
            <p>You can click on each of the animal's pictures, and it will take you to a page will further information
                on your future pet!</p>
            <h4>Our Animals</h4>
            <p>We currently offer dogs, cats and rabbits.</p>
            <hr>
            <!--Table -->
            <div>
                <table class = "data-table">
                    <thead id = "tableTwo">
                    <tr>
                        <th> Pet Type</th>
                        <th> Under 1 year Price</th>
                        <th> Over 1 Year Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class = "border">
                            <p>Dogs</p>
                            <p>Cats</p>
                            <p>Rabbits</p>
                        </td>
                        <td class = "border">
                            <p>$200</p>
                            <p>$100</p>
                            <p>$40</p>
                        </td>
                        <td class = "border">
                            <p>$120</p>
                            <p>$60</p>
                            <p>$30</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--message-->
            <hr>
            <div>
                <p><strong>To make a adoption interview appointment, please call xxx-xxx-xxxx</strong></p>
            </div>
        </div>
    </div>
</div>

<include href="views/footer.html"></include>