<include href="views/header.html"></include>

</head>
<body>
    <div class="container">
        <div class="row" id="row2">
            <div class="col-4">
                <h3>Software Development Intership</h3>
                <h6>Approximately 6 Months, paid</h6>
                <p>We are searching for a motivated Software Development student to
                    study puppy behavior and apply it to our app.</p>
                <br><br>
                <h3>More About Us</h3>
                <p>Happy Puppies Inc. is a company founded on the premise that all puppies
                    should be happy! Founded in 1967, we have grown from a grassroots
                    campaign to a multi-billion dollar corporation. In business terms
                    this may not make for a good business model, but here we are.</p>

                <p>Our goal has been to find puppies all over the globe who need love -
                    and give it to them! We have a fleet of private jets who scour the
                    planet, picking up puppies and delivering them to our headquarters
                    located in Tacoma(That's our building to the right).</p>

                <h3>Meet Our Team!</h3>
                <br><br>

                <hr>

                <div id="quotes">
                    <p  class="quote">"Boy, I sure do love puppies" - Bryan, Puppy Finder for 13 years</p>

                    <p class="quote">"Once you work here, you'll never want to leave!" - Marsha, Starfleet Commander</p>

                    <p class="quote">"Listen, I don't know how we make money, but they keep paying us." - Jim, Pilot</p>
                </div>

                <hr>

                <div class="buttonBottom">
                    <button type="button" class="btn btn-primary" id="bottomButton">Apply Now!</button>
                </div>

            </div>
            <div class="col-2"></div>

            <div class="col-6">
                <img src="images/skyscraper.jfif" id="skyscraper" alt="Skyscraper" width="95%" height="100%"/></div>
        </div>
    </div>

    <br>
    <br>
</body>
</html>