
<include href="views/header.html"></include>

<body>
    <div class= "container-fluid">
        <div class = "row">
            <div class = "col-12" style = "text-align: center">
                <header>
                    <div>
                        <img id = "img1" src = "../images/adopt.png" alt = "logo"/>
                    </div>
                </header>
                <h1>Ready to adopt?</h1>
                <!-- First name-->
                <div>
                    <label for = "fname">First name: <span ng-show = "vm.item.required" class = "text-danger">*</span></label>
                    <br>
                    <input type = "text" id="fname" name ="fname" placeholder="Please provide your first name" required = "required">
                </div>

                <!--Last name-->
                <br> <!-- Line break-->
                <div>
                    <label for ="lname"> Last Name: <span ng-show = "vm.item.required" class = "text-danger">*</span></label>
                    <br>
                    <input type = "text" id="lname" name = "lname" placeholder="Please provide your last name">
                </div>
                <div> <!-- Email Input + Drop Box for @-->
                    <br> <!-- Line break-->
                    <label for="email">Email <span ng-show = "vm.item.required" class = "text-danger">*</span> </label>
                    <br>
                    <input type="email" id="email" name="email" placeholder="Please provide your email address">
                </div>
                <br> <!-- Line break-->
                <div>
                    <label for="phone">Phone <span ng-show = "vm.item.required" class = "text-danger">*</span> </label>
                    <br>
                    <input  placeholder="Please provide your phone number" type="tel" id="phone" name="phone" >
                </div>

                <!--Date-->
                <div>
                    <label for="start">Date: <span ng-show = "vm.item.required" class = "text-danger">*</span> </label>
                    <br>
                    <input  placeholder="Please provide your phone number" type="date" id="start" name="trip-start"
                            value="Select date"
                            min="2022-10-06" max="2023-10-06">
                </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>