<!--
Names: Jack (Zhenhuai) Zeng
File Name: form.html
Date: 2/11/2023
Description: This page is a surrender page, users can fill out the form to surrender their animals. also it shows two surrender options
on the left side of the page.
-->


<include href="views/header.html"></include>


<div class="container-fluid">
    <div class="row">
        <div class = "col-2"></div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 order-2" id="form">
            <form>
                <h1>Please Fill This Form To Surrender An Animal</h1>
                <!-- First name-->
                <div>
                    <label for="fname">First name: <span class="text-danger">*</span></label>
                    <br>
                    <input type="text" id="fname" name="fname"
                           required="required">
                </div>

                <!--Last name-->
                <br> <!-- Line break-->
                <div>
                    <label for="lname"> Last Name: <span class="text-danger">*</span></label>
                    <br>
                    <input type="text" id="lname" name="lname">
                </div>
                <div> <!-- Email Input + Drop Box for @-->
                    <br> <!-- Line break-->
                    <label for="email">Email <span class="text-danger">*</span> </label>
                    <br>
                    <input type="email" id="email" name="email">
                </div>
                <br> <!-- Line break-->
                <div>
                    <label for="phone">Phone <span class="text-danger">*</span> </label>
                    <br>
                    <input  type="tel" id="phone" name="phone">
                </div>

                <!--Address-->
                <div>
                    <label for="address">Address <span class="text-danger">*</span> </label>
                    <br>
                    <input  type="text" id="address" name="address">
                </div>
                <!--find-->
                <div>
                    <label for="find"> Where did you find this Animal <span class="text-danger">*</span> </label>
                    <br>
                    <input type="text" id="find" name="find">
                </div>
                <!--Date-->
                <div>
                    <label for="start">Date: <span class="text-danger">*</span> </label>
                    <br>
                    <input type="date" id="start" name="trip-start"
                           min="2022-10-06" max="2023-10-06">
                </div>
                <!--leave a message-->
                <div>
                    <label for="message"><strong>Leave a Message</strong></label>
                    <br>
                    <textarea id="message" name="message" rows="4" cols="50"></textarea>
                </div>
                <div id = "buttonBottom">
                    <button type="submit" class="btn btn-secondary btn-block" id = "buttonEx"> Submit </button>
                </div>
            </form>
        </div>
        <!--Introduction-->
        <div class = "col-4 order-1">
            <br>
            <br>
            <p>We are so sorry you have come to a point where you may need to rehome your friend.</p>
            <p>We are here to help!</p>
            <p>Below you will find two options to try before surrendering your animal to HappyPuppyInc:</p>
            <p><strong>1. Rehome with a friend or family member you</strong></p>
            <p>trust. This can be a great way to see your friend and keep them close.</p>
            <p><strong>2. Rehome through an online resource, such as an Arizona-based reptile Facebook group.</strong></p>
            <p>There are a few groups on Facebook that you can rehome your animal on. We recommend you</p>
            <p>do not give the animal away for free, as sometimes those animals get resold for a profit. Make</p>
            <p>sure that the person who is taking in the animal understands the care and financial needs that</p>
            <p>animals require.</p>
            <h4>Surrender Price</h4>
            <hr>
            <!--Table -->
            <div>
            <table class = "data-table">
                <thead id = "tableTwo">
                    <tr>
                        <th> $40 per Animal</th>
                        <th> $75 per Animal</th>
                        <th> $100 per Animal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class = "border">
                            <p>Aquatic Turtles (Red Eared Sliders),</p>
                            <p>Small/Medium dog under 5 feet, </p>
                            <p>Small/Medium dog  under 25 lbs)</p>
                        </td>
                        <td class = "border">
                            <p>Large dog over 25 lbs,</p>
                            <p>Large dog over 5 feet</p>
                            <p>Large Lizards (except Green Iguanas)</p>
                        </td>
                        <td class = "border">
                            <p>Green Iguanas</p>
                            <p>British short-hair</p>
                            <p>Labrador</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
            <!--message-->
            <hr>
            <div>
                <p><strong>To make a drop-off appointment, please call xxx-xxx-xxxx</strong></p>
                </div>
        </div>
    </div>
</div>
<include href="views/footer.html"></include>