<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Happy Puppy Inc</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" rel="stylesheet">
    <link href="styles/styles.css" rel="stylesheet">
</head>

<body>
<!--Navigation bar-->
<div class="container">
    <div class="row" id="row1">
        <div class="col-3">
            <img alt="Puppy1" height="180" src="images/puppy1.jfif" width="236">
        </div>
        <div class="col-3">
            <h1>Happy Puppy Inc.</h1>
        </div>
        <div class="col-2">
            <img alt="Puppy2" height="180" src="images/puppy2.jfif" width="265">
        </div>
        <div class="col-2"></div>
    </div>
    <!--Navigation bar-->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="home">Home</a>
            <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="Form">Surrender an Animal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Adopt an Animal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Donate to Our Cause</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Statistics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="apply">Apply to work Here</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
