<include href="views/header.html"></include>


<br>
<div class="container">
    <div class="row">
        <div class="col-4">
            <h1>Adoption</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae doloribus inventore iure laudantium
                maiores nam non, porro ut veritatis. Accusantium dolorum, ducimus eius in incidunt magnam odit quae
                reiciendis velit.</p>
        </div>
        <div class="col-4">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae doloribus inventore iure laudantium
                maiores nam non, porro ut veritatis. Accusantium dolorum, ducimus eius in incidunt magnam odit quae
                reiciendis velit.</p>
        </div>
        <div class="col-4">
            <h1>Something Else</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae doloribus inventore iure laudantium
                maiores nam non, porro ut veritatis. Accusantium dolorum, ducimus eius in incidunt magnam odit quae
                reiciendis velit.</p>
        </div>
    </div>
</div>
<include href="views/footer.html"></include>