<!--
Names: Brandon Burgess
File Name: home.html
Date: 2/11/2023
Description: Home page with info about location, adoption requirements and Donation info. Also New Arrivals section.
-->

<include href="views/header.html"></include>


<br>
<div class="container">
    <div class="row">
        <div class="col-4">
            <h1>Come Visit Us Today!</h1>
            <p>We are located in Auburn, Washington. You'll know you found us because you'll be at the only
                85-story building in the area! Our dogs can't wait to meet you!</p>
        </div>
        <div class="col-4">
            <h1>The Adoption Process</h1>
            <p>We are very selective to whom we allow our dogs to be adopted to. We want to ensure our friend is
                going to a great home where they will get all the attention they deserve! That said, here are some
                requirements: </p>
            <ul>
                <li>Must have a house (please no apartments/condos)</li>
                <li>Must have a bedroom for your new friend</li>
                <li>Must have a (minimum) 1-acre yard for playing</li>
                <li>Must have several hours a day available for attention!</li>
            </ul>
        </div>
        <div class="col-4">
            <h1>Donations</h1>
            <p>Our friends need food and new toys! If you're not quite ready to adopt, consider donating a small
                amount of money or send us some high quality dog food or some toys for them!</p>
        </div>
    </div>
    <br>
    <div class="row">
        <h2>New Arrivals</h2>
        <div class="col-12">
            <img height="180" src="images/puppy3.jfif" alt="puppy3" width="236">
            <img height="180" src="images/puppy4.jfif" alt="puppy4" width="236">
            <img height="180" src="images/puppy5.jfif" alt="puppy5" width="236">
            <img height="180" src="images/puppy6.jfif" alt="puppy6" width="236">
            <img height="180" src="images/puppy7.jfif" alt="puppy7" width="236">
        </div>
    </div>
</div>
<include href="views/footer.html"></include>