<!--
Names: Brandon Burgess
File Name: surrenderForm.html
Date: 3/18/2023
Description: This page is a surrender form, where users will fill out information for the animal they are trying to
             surrender. This info will be submitted to the database.
-->
<include href="views/header.html"></include>

<div class="container-fluid">
  <div class="row">
    <h1>Please Give Us the Info for the Animal you Want to Surrender</h1>
    <div class ="col-2"></div>
    <div class="col-4" id="form">
      <form action = "#" method = "post">
        <!-- Pet Type-->
        <div>
          <label for="ptype">Pet Type: <span class="text-danger">*</span></label>
          <br>
          <select name="ptype" id="ptype">
            <option value="cat">Cat</option>
            <option value="dog">Dog</option>
          </select>
          <div>
            <check if="{{isset(@errors['ptype'])}}">
              <span class="err">
                {{ @errors['ptype']}}
              </span>
            </check>
          </div>
        </div>
        <!-- Pet Name-->
        <div>
          <label for="pname">Pet's Name<span class="text-danger">*</span></label>
          <br>
          <input type="text" id="pname" name="pname">
          <div>
            <check if="{{isset(@errors['fname'])}}">
              <span class="err">
                {{ @errors['fname']}}
              </span>
            </check>
          </div>
        </div>
        <!-- Pet Age-->
        <div>
          <label for="age">Pet's Age: <span class="text-danger">*</span></label>
          <br>
          <select name="age" id="age">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="12">12</option>
          </select>
          <div>
          </div>
        </div>
        <!-- Pet Breed-->
        <div>
          <label for="breed">Pet's Breed: <span class="text-danger">*</span></label>
          <br>
          <input type="text" id="breed" name="breed">
          <div>
            <check if="{{isset(@errors['breed'])}}">
              <span class="err">
                {{ @errors['breed']}}
              </span>
            </check>
          </div>
        </div>
        <!-- Pet Type-->
        <div>
          <label for="neutered">Is this pet spayed/neutered?: <span class="text-danger">*</span></label>
          <br>
          <select name="neutered" id="neutered">
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
          <div>
            <check if="{{isset(@errors['neutered'])}}">
              <span class="err">
                {{ @errors['neutered']}}
              </span>
            </check>
          </div>
        </div>
        <!--Additional Info-->
        <div>
          <label for="message"><strong>Is there any Additional Info you'd like to give?</strong></label>
          <br>
          <textarea id="message" name="message" rows="4" cols="50"></textarea>
        </div>
        <!--Submit-->
        <div id = "buttonBottom">
          <br>
          <button type="submit" class="btn btn-secondary btn-block" id = "buttonEx"> Submit </button>
        </div>
      </form>
    </div>
    <div class="col-4">
      <img src="images/sadPuppy.jpg" height="100%" width="100%">
    </div>
    <div class="col-2"></div>
  </div>
</div>



<include href="views/footer.html"></include>