body {
    background-color: azure;
}

h1, h3 {
    text-align: center;
}
#row2 {
    padding-top: 5%;
}

img {
    border-radius: 3%;
}

.quote {
    font-style: italic;
}

#buttonTop {
    text-align: center;
    padding-top: 5%;
}

.buttonBottom {
    text-align: center;
}
#form
{
    padding-left:20px;
}
.border
{
    border-right:4px solid black;
}
.buttonBottom
{
    padding-right:125px;
}
#tableTwo
{
    border-bottom: 2px solid;
}

.footer h4 {
    text-align: center;
}

#footerStyle {
    padding-right: 10px;
}

#adoptInfo {
    padding-left: 5px;
}
.err{
    color:red;
}